/* RegestrationPage Css here */
.sign-bg {
  background-color: #2f2f2c;
  color: white;
  min-height: 90vh;
}
.btn {
  background-color: #fa0b77;
  font-weight: bolder;
  color: white;
  border: none;
}
.btn:hover {
  color: #fa0b77;
  background-color: #211f21;
}
